<a href="https://colab.research.google.com/github/TZanarkand/Data-Science-Bootcamp9/blob/main/Basic_1_Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Programming Foundation**
- variable
- data type
- data structure
- function
- control flow

In [ ]:
5**2 # 5*5

[1] 25

In [ ]:
# comment
# note to this code cell
print("Hello World")

[1] "Hello World"

In [ ]:
1+2

[1] 3

## **Variables**

In [ ]:
income <- 35000
expense <- 25000
saving <- income - expense

print(saving)

[1] 10000

In [ ]:
print(income)

[1] 35000

In [ ]:
# create new variable
"Sun" -> my_name
my_name <- "Sam"
print(my_name)

[1] "Sam"

In [ ]:
# remove variable
rm(my_name)

In [ ]:
# save income for 10 years, interest rate 5%

income = 100000
income * ((1+0.05) ** 20)

[1] 265329.8

# **Data Types**
  
- numeric
- character (text,string)
- logical (TRUE, FALSE)
- date
- factor (categorical - stats, special in R)

In [ ]:
# numeric
gpa <- 3.41
print(gpa)
print(class(gpa))

[1] 3.41
[1] "numeric"

In [ ]:
## character
class("hello world")

[1] "character"

In [ ]:
## concat two character
paste0("hello", "world")
paste("hello", "world")

[1] "helloworld"

[1] "hello world"

In [ ]:
## boolean
class(F)
class(T)
1+1 == 2
5 != 5
!FALSE
!(1+1 == 2)
"hi" == "Hi"

[1] "logical"

[1] "logical"

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

In [ ]:
## date
today_date <- as.Date("2023-11-11")
print(today_date)
print(class(today_date))

[1] "2023-11-11"
[1] "Date"

In [ ]:
## as.___() change data type
as.character(today_date)
as.integer(FALSE)

[1] "2023-11-11"

[1] 0

In [ ]:
## vector => similar to Google Sheets Array
gender <- c("male", "female", "male") # ซ้ำกันได้

gender_new <- factor(gender) # จำแนก
gender_new
class(gender_new)

[1] male   female male
Levels: female male

[1] "factor"

In [ ]:
is.factor(gender_new) ## check
class(gender_new)

[1] TRUE

[1] "factor"

In [ ]:
## factor has two categories
## 1. nominal: male, female
## 2. ordinal: low < med < high

In [ ]:
m1 <- matrix(c(3,2,1,4,2,4), nrow = 2   )
print(m1)

     [,1] [,2] [,3]
[1,]    3    1    2
[2,]    2    4    4